/* ==== GLOBAL LAYOUT FIX ==== */
* {
    box-sizing: border-box;
}

html, body {
    background: black;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.logo-container{
    display:flex;
    background: white;
    width:120px;
    height:40px;
}
.logo{
    width:100px;
    height:30px;
    padding:2px;
}

/* ================= Tablet ================= */
@media (max-width: 900px) {
  .newsletter_black .newsletter_content form input {
    padding: 12px 120px 12px 20px;
  }
  .newsletter_black .newsletter_content form button {
    padding: 0 35px;
  }
}

/* ================= Mobile ================= */
@media (max-width: 600px) {
  .newsletter_black .newsletter_content form {
    flex-direction: column;
    border-radius: 20px;
  }
  .newsletter_black .newsletter_content form input {
    padding: 12px 20px;
    border-radius: 20px;
    margin-bottom: 10px;
  }
  .newsletter_black .newsletter_content form button {
    position: relative;
    width: 100%;
    border-radius: 20px;
    padding: 12px 0;
  }
}
