@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.logo-container{
    display:flex;
    background: white;
    width:120px;
    height:40px;
    }

/* ================= Tablet ================= */
@media (max-width: 900px) {
  .newsletter_black .newsletter_content form input {
    padding: 12px 120px 12px 20px;
  }
  .newsletter_black .newsletter_content form button {
    padding: 0 35px;
  }
}

/* ================= Mobile ================= */
@media (max-width: 600px) {
  .newsletter_black .newsletter_content form {
    flex-direction: column;
    border-radius: 20px;
  }
  .newsletter_black .newsletter_content form input {
    padding: 12px 20px;
    border-radius: 20px;
    margin-bottom: 10px;
  }
  .newsletter_black .newsletter_content form button {
    position: relative;
    width: 100%;
    border-radius: 20px;
    padding: 12px 0;
  }
}
